#container{
    width: 1170px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.delimiters{

}
.no_shadow{
    box-shadow: 0 0 #000000 !important;
}
.copybut{
    float: right;
}
.space{
    display: flex;
    justify-content: space-between;
}