.smallHeader{
    padding-left: 12px;
}
.textIndent{
    margin-left: 12px !important;
}
tr{
}
td{
    border: solid #e60d0d !important;
    background-color: #eaeaea;
    border-right-width:1px;
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
}


.sample{
    display: flex;
}

.input_{
    width: 48%;
    display: block;
}

/* Add a light border to the pre elements inside input and output */
.input_ pre, .output pre {
    border: 1px solid #ccc; /* Light gray border */
    border-radius: 6px;
    padding: 8px !important;
}

.output{
    width: 48%;
    display: block;
    margin-left: 14px;
}

.myHeading {
    font-family: BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 1em;
    font-weight: bold;
    padding: 8px 0px;
}
.header{
    margin-bottom: 6px;
}

/* Center the text within the heading */


/* Adjust the spacing between heading and sub-elements (copyInput and dlInput) */
.myHeading > .copyInput,
.myHeading > .dlInput {
    margin-left: 8px;
}


pre{
    border-radius: 10px;
}
